mat-card {
    margin-bottom: 20px;
    margin: auto;
    width: 400px;
}

#label {
    font-size: 14px;
    color: gray;
    text-align: justify;
    padding-left: 20px;
    margin-bottom: 20px;
}

#criarConta {
    color:#007a72;
}

#showPassword {
    height: 5px;
    width: 5px;
}

mat-form-field {
    font-size: 14px;
    padding-left: 20px;
    width: 359px;
}

mat-card-actions {
    width: 340;
    margin-left: 20px;
    font-size: 14px;
}
