<mat-sidenav-container>
    <mat-sidenav mode="side" opened *ngIf="usuarioLogado()">
        <ul>
            <li routerLinkActive="item-active">
                <a routerLink="/home">Home</a>
            </li>
            <li routerLinkActive="item-active">
                <a routerLink="/perfil">Perfil</a>
            </li>
            <li routerLinkActive="item-active">
                <a routerLink="/conta">Conta</a>
            </li>
            <li (click)="socialSpan()">
                <span>
                    <a>Social</a>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </span>
            </li>
            <li routerLinkActive="item-active" id="social-item">
                <a routerLink="/amigos">Amigos</a>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <section>
            <router-outlet></router-outlet>
        </section>
        <button id="logout-button" (click)="logout()" *ngIf="authenticationService.currentUserValue" mat-fab
            color="primary" matTooltip="Sair da sessão">
            <mat-icon>logout</mat-icon>
        </button>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>